- if @projects
  %div#panes
    - render_panes(@projects).each do |key, panes|
      %div{class: "column", id: "#{key.to_s}_panes"}
        - panes.each do |pane|
          .panel.panel-default{id: pane['id']}
            .panel-heading= pane['name']
            %ul.list-group
              - pane['items'].each do |item|
                %li.list-group-item= link_to item['title'], item['url'], target: '_blank'
